.q-a-req {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 40px;
  margin-bottom: 8px;
}

.q-a-res {
  display: flex;
  align-items: flex-start;
  /* padding-right: 40px; */
  margin-bottom: 8px;
}

.q-a-req-content {
  /* margin-right: 1rem; */
  position: relative;
}

.q-a-req-content span {
  display: block;
  background-color: rgb(225, 239, 254);
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  font-size: 14px;
  line-height: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  /* border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem; */
  min-height: 1.25rem;
  /* min-width: 1.25rem; */
  border-radius: 12px 0px 12px 12px;
  background: linear-gradient(270deg, #8471FF -7.46%, #57B4FF 126.61%);
  box-shadow: 0px 2px 4px 0px rgba(70, 117, 236, 0.12);
}

.q-a-req-img {
  width: 40px;
}

.q-a-res-content {
  /* margin-left: 1rem; */
  position: relative;
  margin-left: 10px;
  max-width: calc(100% - 50px);
}

.q-a-res-content > span {
  margin-top: 6px;
  display: block;
  --tw-bg-opacity: 1;
  background-color: rgb(242 244 247/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(16 24 40/var(--tw-text-opacity));
  font-size: 14px;
  line-height: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  /* border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem; */
  min-height: 1.25rem;
  min-width: 1.25rem;
  border-radius: 0px 12px 12px 12px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4.7px 0px rgba(0, 0, 0, 0.02);
}

.q-a-res-content b {
  font-weight: normal;
}

.q-a-res-content img, .q-a-res-content video {
  width: 100%;
}

.q-a-res-img {
  width: 40px;
}

.q-a-res-content-nickname {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  background: linear-gradient(90deg, #5BB0FF 0%, #7B80FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-box {
  display: flex;
  height: 1.25rem;
  min-width: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  gap: 16px;
}

/* .loading-box .load-text {
  margin-right: 10px;
} */

.loading-dot, .loading-dot:after, .loading-dot:before {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #667085;
  color: #667085;
}

.loading-dot {
  position: relative;
  animation: flashing 1s linear infinite alternate;
  animation-delay: 0.5s;
}

.loading-dot:after, .loading-dot:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  animation: flashing 1s linear infinite alternate;
}

.loading-dot:before {
  animation-delay: 0s;
  left: -7px;
}

.loading-dot:after {
  animation-delay: 1s;
  left: 7px;
}

.recommend-questions {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 10px;
}
.recommend-questions p {
  line-height: 1;
  margin-bottom: 10px;
}
.recommend-questions li {
  margin-top: 8px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid var(--Background_White, #FFF);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 2.27%, rgba(242, 246, 255, 0.6) 103.41%);
  box-shadow: 0px 3px 9px 0px rgba(80, 121, 216, 0.1);
  border-radius: 8px;
  padding: 5px 8px;
}
.q-a-req-content:hover .q-a-req-content-copy {
  opacity: 1;
}
.q-a-req-content-copy {
  position: absolute;
  bottom: -18px;
  left: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
  transform: scale(0.7);
  transform-origin: left top;
  cursor: pointer;
  opacity: 0;
  display: flex!important;
  white-space: nowrap;
  align-items: center;
  gap: 3px;
  transform: opacity 0.3s ease-in-out;
}
@keyframes flashing {
  0% {
    background-color: #667085;
  }
  50%, to {
    background-color: rgba(102, 112, 133, 0.3);
  }
}